[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
lark = "*"
pyclean = "*"
typing = "*"
flake8 = "*"
pylint = "*"
cs130-sheets-cui = {file = "http://courses.cms.caltech.edu/cs130/projects/sheets_cui/cs130_sheets_cui-0.9.3-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.11"
