[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
lark = "*"
pyclean = "*"
typing = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
